@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/*font-family     : 'Montserrat', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Mulish&display=swap');
/*font-family     : 'Dosis', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');
/*font-family     : 'Cuprum', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=El+Messiri&display=swap');
/*font-family     : 'Cuprum', sans-serif;
font-family       : 'El Messiri', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Zen+Kurenaido&display=swap');
/*font-family     : 'PT Sans Narrow', sans-serif;
font-family       : 'Zen Kurenaido', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
/*font-family     : 'Shippori Antique', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*font-family     : 'Poppins', sans-serif;*/

body {
    background     : rgb(0, 44, 109);
    color          : #fff;
    text-decoration: none;
    margin         : 0;
    padding        : 0;
    font-family    : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-- Scrollbar --*/

.scrollbar {
    position  : absolute;
    top       : 0;
    right     : 0;
    height    : calc(100vh - 0px);
    width     : 100%;
    overflow-y: scroll;
}

#wrapper {
    text-align: center;
    width     : 500px;
    margin    : auto;
}

#scrollp::-webkit-scrollbar-track {
    background: #1d1d1d00;
}

#scrollp::-webkit-scrollbar {
    width     : 1px;
    background: #1d1d1d00;
}

#scrollp::-webkit-scrollbar-thumb {
    width     : 1px;
    background: #404eef;
}

/*-- Scrollbar --*/

/*-- debut de page --*/

.section {
    width    : 100%;
    height   : auto;
    display  : flex;
    flex-wrap: wrap;
    background: #818181;
}

.header {
    height     : 70px;
    background : #ececec;
    font-family: 'Poppins', sans-serif;
    box-shadow : #000 0px 0.5px 10px 0px;
    position   : fixed;
    top        : 0;
    left       : 0;
    z-index    : 1;
}

.header-nav {
    display     : flex;
    flex-wrap   : wrap;
    width       : 80%;
    height      : 50px;
    margin-left : 30px;
    margin-right: auto;
    margin-top  : 7px;
}

.header-nav ul {
    list-style    : none;
    display       : flex;
    flex-direction: row;
    margin-left:-8vh;
}

.header-nav ul li {
    text-decoration: none;
    margin-left    : 10px;
    margin-right   : -30px;
}

.header-nav ul li a {
    margin-left    : 30px;
    margin-right   : 30px;
    color          : #070606;
    text-shadow: #0000ff 1px 0 6px, #000 1px 0px 1px;
    text-decoration: none;
    font-family    : 'Shippori Antique', sans-serif;
}

.header-nav .ul-right {
    position       : absolute;
    right          : 10vh;
    color          : #fff;
    text-decoration: none;
    font-family    : 'Shippori Antique', sans-serif;
}

/*-- Menu dropdown --*/

.menu {
    display      : none;
    background   : #fff;
    padding      : 8px 20px;
    border-radius: 8px;
    border       : none;
    position     : absolute;
    top          : 15px;
    right        : 10px;
    cursor       : pointer;
    visibility   : visible;
    color        : #ff6464;
    font-size    : 20px;
    font-weight  : bold;
}

.menu:hover {
    background: #e4e4e4;
}

.menu:active {
    background: #2c2c2c;
    color     : #404eef;
    box-shadow: #000 0px 0.5px 10px 0px;
}

.dropdown {
    display: inline-block;
}

.drop-content {
    display   : none;
    position  : absolute;
    background: #ececec;
    min-width : 160px;
    overflow  : auto;
    z-index   : 1;
    top       : 60px;
    left      : 0;
    width     : 100%;
}

.drop-content a {
    color          : #eb5555;
    padding        : 12px 16px;
    text-decoration: none;
    display        : block;
    text-align     : center;
}

.drop-content a:hover {
    color: #757575;
}

.show {
    display: block;
}

.theme {
    background : #0e0e0e;
    padding    : 8px 20px;
    border     : none;
    color      : #fff;
    font-size  : 20px;
    font-weight: bold;
    position   : absolute;
    top        : 15px;
    left       : 10px;
}

.show2 {
    display: block;
}

.pvp {
    height: 100vh;
    width: 100%;
    background: url(".././img/pvp.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pvp .container {
    display: flex;
    flex-direction:column;
    width: 100%;
    height:100vh;
}

.pvp .container .titre {
    color:#fff;
    margin-top:30vh;
    margin-left:auto;
    margin-right:auto;
    font-family     : 'Montserrat', sans-serif;
    font-size: 60px;
    text-align: center;
    text-shadow: #0000ff 1px 0 6px, #000 1px 0px 10px;
}

.pvp .container .descrip {
    color:#fff;
    margin-top:35vh;
    margin-left:auto;
    margin-right:auto;
    font-family     : 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: #0000ff 1px 0 6px, #000 1px 0px 10px;
}

.pvp .container .descripacc {
    color:#fff;
    margin-top:16vh;
    margin-left:auto;
    margin-right:auto;
    font-family     : 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: #0000ff 1px 0 6px, #000 1px 0px 10px;
}

.footer {
    background: #1d1d1d;
    height:auto;
    width: 100%;
}

.footer .container {
    display: flex;
    flex-direction: row;
    width:100%;
    margin-top:10px;
    margin-bottom:5px;
    justify-content: space-between;
}

.footer .container p {
    width: 20%;
    color: rgb(189, 186, 187);
    font-size: 15px;
    font-family     : 'Poppins', sans-serif;
    text-decoration:none;
    margin-left: auto;
    margin-right: auto;
}

.footer .container p a {
    text-decoration:none;
    color: rgb(189, 186, 187);
    float: right;
}

.mentions {
    display:flex;
    flex-direction: column;
    width:80%;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    background:rgba(255, 0, 0, 0);
}

.mentions p {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    margin-top:80px;
    margin-bottom: 40px;
    color:#000;
}

.mentions p b {
    text-decoration: underline;
}

.formContainer {
    position: absolute;
    top: 60px;
    left: 0;

    width: 100%;
    height: 100%;
}


.connections {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 930px;
    height: 60px;
    min-height: 510px;
    background-color: rgb(0, 0, 0);
    box-shadow: 7px 4px 19px -2px rgba(0, 0, 0, 0.75);

    display: flex;
    flex-wrap: nowrap;
}

.formSection {
    position: relative;
    width: 50%;
    height: 100%;
    padding: 50px 300px 10px;
    padding-top: 50px;

    font-family: Cambria;
}

.formSection > * {
    margin: 10px 0;
}

.formSection h1 {
    font-family: 'Montserrat , sans-serif';
    text-align: center;
    margin-bottom: 50px;
}

.formSection h4 {
    text-align: center;
    margin: 15px 0;
}

.inputRow {
    width: 100%;
    height: 40px;

    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: stretch;
    border-radius: 100px;
    overflow: hidden;
}

.inputRow .inputIcon {
    width: 15%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.inputRow input {
    width: 85%;
    padding: 2px 6px;
    border: none;
    outline: none;
    border-left: 1px solid rgba(34, 34, 34, 0.116);

    font-style: italic;
    font-size: 17px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#forgotPassword {
    color: #333;
}

.btnRow {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    border-radius: 100px;
    border: none;
    box-shadow: 2px 2px 5px -4px rgba(0, 0, 0, 0.75);
    padding: 5px 8px;

    min-width: max-content;
    min-height: max-content;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Cambria";
    cursor: pointer;

    transition: all ease-in-out 250ms;
}

.btn:hover {
    box-shadow: 1px 1px 4px -1px rgba(255, 255, 255, 0.75);
}

.btnGroup {
    width: 45%;
    justify-content: left;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 8px;
    padding-left: 1.2em;
    background: none;
    font-size: 16px;
    border: 1px solid white;
}

.btnGroup img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

#loginBtn {
    background: #ff0000;
    background: -webkit-linear-gradient(to right, #fa003e, #ff0000);
    background: linear-gradient(to right, #fa003e, #ff0000);
}

#signupBtn {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
}

.btnReset {
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 1280px) {
    .header-nav {
        display: none;
    }

    .menu {
        display: block;
    }
    .pvp .container .titre {
        font-size:30px;
    }

    .footer .container p {
        width: 90%;
        color: rgb(189, 186, 187);
        font-size: 15px;
        font-family     : 'Poppins', sans-serif;
        text-decoration:none;
        margin-left: auto;
        margin-right: auto;
    }
}
